.card{
    border:1px solid var(--border-card);
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    padding: 30px;
    border-top: 5px solid var(--border-top-card-color);
    box-shadow: 3px 3px 6px var(--box-shadow-color);
    margin-left: 10px;
    margin-right: 10px;
}

.card p{
    font-size: var(--text-font-size);
}

.danger{
    color: var(--danger-color);
    font-size: var(--smaller-font-size);
    margin-bottom: 10px;
    margin-top: 0;
}

/* ScrollBar Styling */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #697ca2;
}

.underlinedTitle{
    display: inline-block;
}

.underlinedTitle h2{
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    z-index: var(--z-tooltip);
    line-height: 1.2;
}

.underlined{
    height: 8px;
    background-color: var(--fourth-color-dark);
    position: relative;
    top: -15px;
    z-index: var(--z-normal);
    margin: auto;
}

@media only screen and (min-width: 650px) {
    .underlined{
        height: 12px;
        top: -16px;
    }
}



